body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(/img/background.png);
    background-size: auto;
  }


  button{
    cursor: url(./img/cursors/default_link.cur), pointer;
  }
  iframe {
    width: 100%;
    border: none; /* Remove iframe border */
    overflow: hidden; /* Hide scrollbars */
    cursor: url('./img/cursors/default_arrow.cur'), auto;
}
* {
  cursor: url('./img/cursors/default_arrow.cur'), auto;
}
p{
  font-size: large;
}
a{
  cursor: url(./img/cursors/default_link.cur), pointer;

}
  
  #content {
    display: flex;
    display: flex;cursor: url('./img/cursors/default_arrow.cur'), auto;

  }
  
  #sidebar {
    width: 25%;
    background-color: #f1f1f1;
    height: 300vh;
  }


  #main {
    width: 75%;
    padding: 20px;
    cursor: url('./img/cursors/default_arrow.cur'), auto;

  }
  
  .window{
    cursor: url('./img/cursors/default_arrow.cur'), auto;

    margin: 15px;
  }

  .title-bar {
    cursor: url(./img/cursors/default_move.cur),move;
    user-select: none; 
  }
  
  .window-body {
    height: 100%;
    cursor: url('./img/cursors/default_arrow.cur'), auto;
  }
  .blog {
    margin-bottom: 20px;
    padding: 10px;
  }
  
  #navbar {
    background-image: url(/img/winxp.jpeg);
    color: #fff;
    padding: 6.5px;
    position: fixed;
    bottom: 0;
    width: 100%;

  }
  
  #navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  #navbar ul li {
    display: inline;
    margin-right: 10px;
  }
  
  #navbar ul li a {
    color: #fff;
    text-decoration: none;
  }
  .abourmetext{
    overflow: hidden;
    box-sizing: content-box;
    width: 290px;
    line-height: 20px;
    font-family: Helvetica, sans-serif;
    max-lines: 3;
    cursor: url('./img/cursors/default_arrow.cur'), auto;
  }